<ul>
  <li>Name: <%= @user.name %> </li>
  <li>Tickets: <%= @user.tickets %> </li>
  <li>Mood: <%= @user.mood %> </li>
  <li>Height: <%= @user.height %> </li>
  <%= link_to 'See attractions', attractions_path %>
  <%= link_to 'Edit User', edit_user_path(@user) %>
  <%= link_to 'Delete ME', @user, method: :delete%>
</ul>
